{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/prism.css' %}">
{% endblock css %}

{% block content %}

{% include 'components/bonus-ui/components/scrollspy.html' %}

{% endblock %}

{% block scriptcontent %} 

<script src="{% static 'assets/js/scrollspy/common-scrollspy.js' %}"></script>
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
    
{% endblock %}