{% load static %}

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Map at a specified location</h5>
          <p class="f-m-light mt-1">Display a map at a specified location and zoom level.</p>
        </div>
        <div class="card-body z-1">
          <div class="map-js-height" id="weathermap"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Map using View Bounds</h5>
          <p class="f-m-light mt-1">Display a map of a given area.</p>
        </div>
        <div class="card-body z-1">
          <div class="map-js-height" id="map2"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->