{% load static %}

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="user-profile">
    <div class="row">
      <!-- user profile first-style start-->
      <div class="col-sm-12">
        <div class="card hovercard text-center">
          <div class="cardheader"></div>
          <div class="user-image">
            <div class="avatar"><img alt="" src="{% static 'assets/images/user/7.jpg' %}" data-intro="This is cuba profile"></div>
            <div class="icon-wrapper"><i class="icofont icofont-pencil-alt-5" data-intro="Change cuba profile image here"></i></div>
          </div>
          <div class="info">
            <div class="row g-3" data-intro="This is your profile details">
              <div class="col-sm-6 col-xl-4 order-sm-1 order-xl-0">
                <div class="row g-3">
                  <div class="col-md-6">
                    <div class="text-start tour-email">
                      <h6 class="tour-mb-space"><i class="fa-solid fa-envelope"></i>   Email</h6><span>William@jourrapide.com</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="text-start ttl-sm-mb-0 tour-email">
                      <h6 class="tour-mb-space"><i class="fa-solid fa-calendar-days"></i>   BOD</h6><span>02 January 1988</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-xl-4 order-sm-0 order-xl-1">
                <div class="user-designation tour-email">
                  <div class="title"><a target="_blank" href="">William C. Jennings</a></div>
                  <div class="desc mt-2"> Web Designer</div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4 order-sm-2 order-xl-2">
                <div class="row g-3">
                  <div class="col-md-6 mt-0 mt-sm-3">
                    <div class="text-start ttl-xs-mt tour-email">
                      <h6 class="tour-mb-space"><i class="fa-solid fa-phone"></i>   Contact Us</h6><span>US 310-273-0666</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="text-start ttl-sm-mb-0 tour-email">
                      <h6 class="tour-mb-space"><i class="fa-solid fa-location-arrow"></i>   Location</h6><span>4377 Libby Street Beverly Hills</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="social-media" data-intro="This is your social details">
              <ul class="list-inline">
                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Facebook"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Google+"><a href="https://accounts.google.com/" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a></li>
                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="X (Twitter)"><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Instagram"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="RSS"><a href="https://rss.app/" target="_blank"><i class="fa-solid fa-share-nodes"></i></a></li>
              </ul>
            </div>
            <div class="follow">
              <div class="row">
                <div class="col-6 border-end">
                  <div class="follow-num counter">25.8K</div><span>Followers</span>
                </div>
                <div class="col-6">
                  <div class="follow-num counter">65.2M</div><span>Following</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- user profile first-style end-->
      <!-- user profile second-style start-->
      <div class="col-sm-12">
        <div class="card">
          <div class="profile-img-style">
            <div class="row g-2">
              <div class="col-sm-8">
                <div class="d-flex"><img class="img-thumbnail rounded-circle me-3" src="{% static 'assets/images/user/7.jpg' %}" alt="Generic placeholder image">
                  <div class="flex-grow-1 align-self-center">
                    <h6 class="mt-0 user-name">William C. Jennings</h6>
                    <div class="tour-wrapper"><span>25 Jan</span><i class="tour-dot fa fa-circle"></i><span class="txt-danger">1 min read</span></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 align-self-center mt-0 text-end">
                <div class="social-media social-tour" data-intro="This is your social details">
                  <ul class="list-inline">
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Facebook"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Google+"><a href="https://accounts.google.com/" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="X (Twitter)"><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Instagram"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="RSS"><a href="https://rss.app/" target="_blank"><i class="fa-solid fa-share-nodes"></i></a></li>
                  </ul>
                  <div class="float-sm-end"><small>10 Hours ago</small></div>
                </div>
              </div>
            </div>
            <hr>
            <p class="block-ellipsis">A person who interacts with a given system, platform, or gadget in order to carry out a particular activity or obtain specific data is referred to as a user. A user is someone who interacts with software, websites, or electronic gadgets in the context of technology.</p>
            <div class="row g-3 mt-4 pictures" id="aniimated-thumbnials-2"><a class="col-sm-6" href="#!">
                <div class="tour-blog"><img class="img-fluid rounded" src="{% static 'assets/images/other-images/mountain.jpg' %}" alt="mountain"></div></a><a class="col-sm-6" href="#!">
                <div class="tour-blog"><img class="img-fluid rounded" src="{% static 'assets/images/other-images/sea.jpg' %}" alt="sea"></div></a></div>
            <div class="like-comment mt-4" data-intro="This is your like-comment-share icons">
              <ul class="list-inline">
                <li class="list-inline-item b-r-gray pe-3">
                  <label class="m-0"><a href="#!"><i class="fa-solid fa-heart"></i></a>  Like</label>
                </li>
                <li class="list-inline-item b-r-gray pe-3">
                  <label class="m-0"><a href="#!"><i class="fa-solid fa-comments"></i></a>  Comment</label>
                </li>
                <li class="list-inline-item">
                  <label class="m-0"><a href="#!"><i class="fa-solid fa-paper-plane"></i></a>  Share</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- user profile second-style end-->
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->