{% extends 'base-authentication.html' %}
{% load static %}
{% load sass_tags %}
{% load widget_tweaks %}
{% block content %}

    
    <!-- login page start-->
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-12 p-0">    
          <div class="login-card login-dark">
            <div>
              <div></div>
              {% include "includes/alert.html" %}
              <div class="login-main"> 
                <form class="theme-form" method="post">
                  {% csrf_token %}
                  <h4>Sign in to account</h4>
                  <p>Enter your email & password to login</p>
                  <div class="form-group">
                    <label class="col-form-label">Username</label>
                    {{form.username|add_class:'form-control'}}
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Password</label>
                    <div class="form-input position-relative">
                      {{form.password|add_class:'form-control'}}
                      <div class="show-hide"><span class="toggle-password">Show</span></div>
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <div class="checkbox p-0">
                      <input id="checkbox1" type="checkbox">
                      <label class="text-muted" for="checkbox1">Remember password</label>
                    </div><a class="link" href="/forget_password">Forgot password?</a>
                    <div class="text-end mt-3">
                      <button class="btn btn-primary btn-block w-100" type="submit">Sign in</button>
                    </div>
                  </div>

                  <p class="mt-4 mb-0 text-center">Don't have account?<a class="ms-2" href="/signup_home">Create Account</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}    

{% block scriptcontent %}
<script>
</script>
{% endblock %}