{% extends 'base-authentication.html' %}
{% load static %}
{% load sass_tags %}
{% load widget_tweaks %}
{% block content %}


  <!-- login page start-->
  <div class="container-fluid p-0"> 
    <div class="row m-0">
      <div class="col-12 p-0">    
        <div class="login-card login-dark">
          <div>
            <div>  {% include "includes/alert.html" %}</div>
            <div class="login-main"> 
              <form class="theme-form" method="post" action="{% url 'signup_home' %}">
                {% csrf_token %}
                <h4>Create your account</h4>
                <p>Enter your personal details to create account</p>
                <div class="form-group">
                  <label class="col-form-label">User Name</label>
                  <input class="form-control" type="text" required="username" name="username" placeholder="">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Email Address</label>
                  <input class="form-control" type="email" name="email" required="" placeholder="Test@vivafresh-rks.com">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Password</label>
                  <div class="form-input position-relative">
                    <input class="form-control" type="password" name="password" required="" placeholder="*********">
                    <div class="show-hide"><span class="toggle-password">Show</span></div>
                  </div>
                </div>
                <div class="form-group mb-0">
                  <div class="checkbox p-0">
                    <input id="checkbox1" type="checkbox">
                    <label class="text-muted" for="checkbox1">Agree with<a class="ms-2" href="#">Privacy Policy</a></label>
                  </div>
                  <button class="btn btn-primary btn-block w-100" type="submit">Create Account</button>
                </div>
                <p class="mt-4 mb-0">Already have an account?<a class="ms-2" href="/login_home">Sign in</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}    
     