{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/swiper/swiper-bundle.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/jquery.dataTables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/select.bootstrap5.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/owlcarousel.css' %}">
{% endblock css %}

{% block content %}

{% include 'general/dashboard/components/dashboard-06.html' %}

{% endblock %}

{% block scriptcontent %} 

<script src="{% static 'assets/js/chart/apex-chart/apex-chart.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/stock-prices.js' %}"></script>
<script src="{% static 'assets/js/counter/counter-custom.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/dataTables.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/dataTables.select.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/select.bootstrap5.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
<script src="{% static 'assets/js/owlcarousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/timer.js' %}"></script>
<script src="{% static 'assets/js/dashboard/dashboard_6.js' %}"></script>
<script src="{% static 'assets/js/height-equal.js' %}"></script>

{% endblock %}
        
    
    